
<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs', { title: 'Rendezvények részletei' }) %>

<body>

    <%- include('partials/login.ejs', { username: username}) %>

    <h2> <%= hibaUzenet %></h2>

    <h2>Rendezveny részletei </h2>
    <div class="list-container">
        <% rendezvenyek.forEach((rendezvenyek) => { %>
            <div class="list-item">
                <div class="form-nev">Rendezvény neve: <%= rendezvenyek.nev %></div>
                <div class="form-kezdIdo">Rendezvény kezdete: <%= rendezvenyek.kezdesiIdo %></div>
                <div class="form-vegIdo">Rendezvény vége: <%= rendezvenyek.vegzesiIdo %></div>
                <div class="form-helyszin">Rendezvény helyszíne: <%= rendezvenyek.helyszin %></div>
                <div class="form-nev">Szervezők: 
                    <% rendezvenySzervezok.forEach((rendezvenySzervezok) => { %>
                        <%= rendezvenySzervezok.szervezoNev %>
                        ,
                    <% }) %>
                </div>
            </div>
        <% }) %>

    <h2>Képek a rendezvényről </h2>

    <div class="list-container">
        <% rendezvenyKepei.forEach((rendezvenyKepei) => { %>
            <div class="list-item">
                <div class="form-nev"><%= rendezvenyKepei.utvonal %></div>
                

            </div>
        <% }) %> 
    </div>
       

    <form action="/lekezelRendezvenySzervezoFenykepHozzaadas?rendezvenyID=<%= rendezvenyAzonosito[0].rendezvenyID %>" method="post" id="RendezvenySzervezoFenykepHozzaadas" name = "RendezvenySzervezoFenykepHozzaadas" enctype="multipart/form-data">
        <label>Adj hozzá egy fényképet</label><br>

        <label>Válaszd ki a feltöltendő fényképet:</label>
        <input type="file" name="form-rendezvenyFenykep" id="form-rendezvenyFenykep">

        <div>
            <span id="errorBekuldes3"></span>
        </div>

        <br><br>
        <input type="submit" value="bekuldes" id="form-saveSzervezoCsatlakozas"/>
       
    </form>
</body>
</html>
