<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Rezdezvenyek listazva</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src="main.js"></script>    
    </script>
</head>
<body>
    <h2>Rendezvenyek</h2>

    <div class="list-container">
        <% rendezvenyek.forEach((rendezvenyek) => { %>
            <div class="list-item">
                <div class="form-nev"><%= rendezvenyek.nev %></div>
                <div class="form-kezdIdo"> <%= rendezvenyek.kezdesiIdo %></div>
                <div class="form-vegIdo"><%= rendezvenyek.vegzesiIdo %></div>
                <div class="form-helyszin"><%= rendezvenyek.helyszin %></div>
                <div class="form-nev">
                    <% rendezvenySzervezok.forEach((rendezvenySzervezok) => { %>
                       
                        <% rendezvenySzervezok.forEach((rendezvenySzervezok) => { %>
                            <% if (rendezvenySzervezok.rendezvenyID === rendezvenyek.rendezvenyID) { %>
                                <%= rendezvenySzervezok.szervezoNev %>
                                ,<% } %>

                         <% }) %>
                    <% }) %>
                </div>
            </div>
            <a class="a" href="/kepek?name=<%= rendezvenyek.nev %>">Rendezvény részletei</a>
        <% }) %>
    </div>

</body>
</html>
